fastapi
uvicorn
sqlalchemy
bcrypt
python-jose[cryptography]
pydantic
python-multipart
pillow
numpy<2.0.0
scikit-learn
joblib
matplotlib
seaborn
xgboost
tensorflow-cpu>=2.15.0
imbalanced-learn
python-dotenv
fpdf2
pymongo
motor
email-validator
